.primary-button {
  // padding: 0 6.5rem;
  width: 100%;
  background-color: $primary-color;
  color: $light-color;
  border: 1px solid $primary-color;
  // text-decoration: none;
  border-radius: 5px;
  font-size: $paragraph;
  &:hover {
    background-color: $primary-color-dark;
  }
}

.secondary-button {
  padding: 0.5rem 3rem;
  // border: 1px solid #000;
  border: none;
  background-color: $primary-color;
  color: $light-color;
  font-size: $paragraph;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.btn-counter {
  background-color: $light-color;
  border: 2px solid $primary-color;
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
}

.btn {
  border: none;
  background-color: $primary-color;
  color: $light-color;
  // padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.btn-navigator {
  color: $primary-color;
}

.btn-logout {
  color: $primary-color;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgb(36, 36, 177);
  color: white;
}

.display-btn {
  padding: 0.5rem 3rem;
  border: 1px solid $primary-color-dark;
  //   border: none;
  background-color: white;
  color: black;
  font-size: $paragraph;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    opacity: 0.5;
  }
}

.learn-btn {
  border: none;
  width: 50%;
  background-color: $primary-color;
  color: $light-color;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-dark;
  }
}
